/node_modules
/public/ngrok.exe
/public/hot
/public/admin_files
/public/app/public/filepond_temp
/public/filepond_temp
/public/img/avatars
/public/img/work_pics
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess                                                                                                                                                          
cron.sh                                                                                                                                                            
error_log                                                                                                                                                          
                                                                                                                                        
                                                                                                                                  
                                                                                                  
 