@media screen and (max-width: 1500px) {
    .account-header h1 {
        font-size: 35px;
    }

    .part .hero {
        margin-left: 0 !important;;
        margin-bottom: 0 !important;
        padding: 10px;
    }

    .hero a {
        margin: 0;
    }

}
@media screen and (max-width: 1400px) {
    .create-participation-form .container {
        flex-direction: column;
    }

    .participation-inputs {
        width: 100% !important;
    }

    .participation-outputs {
        width: 100% !important;;
    }

    .work-menu svg {
        bottom: 5px;
    }

    .create_book_wrap {
        min-width: inherit;
        width: 100%;
    }

    .filepond--drop-label p {
        font-size: 20px;
    }

}


@media screen and (max-width: 1200px) {
.account-content {
    margin-bottom: 260px;
}

    .participation-wrapper {
        flex-direction: column;
    }


}

@media screen and (max-width: 1000px) {
    .account-header h1 {
        font-size: 30px;
        text-align: center;
        margin-right: 0;
    }

    h3 {
        font-size: 20px !important;
    }

    .participation-wrap .container .info {
        flex-direction: column;
        align-items: center;
    }

    .need_to_pay_wrap {
        flex-direction: column;
        align-items: center;
    }

    .part_part, .print_part {
        text-align: center;
        width: 100%;
    }

    .prices_inputs {
        flex-wrap: wrap;
        justify-content: center;
    }

    .participation-outputs {
        border-left: none;
    }

    .pre_var_swither label {
        font-size: 18px !important;
        display: flex;
        align-items: center;
    }

    .setting-button a {
        margin-top: 20px !important;
        margin-left: 0 !important;
    }

    .participation-inputs-row {
        flex-direction: column !important;
    }

    .input-group {
        align-items: center;
        margin-right: 0;
    }

    .ob-applic-block-top {
        flex-direction: column;
    }

    .input_file_text_1 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 8px !important;
    }

    .book-links {
        flex-basis: inherit !important;
        width: 100% !important;
    }

    .right-wrap {
        padding: 0;
    }

    .right-wrap h3 {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .img-wrap {
        width: 50%;
    }

    .setting-button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }



    .no-access {
     font-size: 24px;
        margin: 10px 15px;
    }
}

@media screen and (max-width: 800px) {
    .search-bar-wrap {
        margin-top: 20px;
    }
}

@media screen and (max-height: 1030px) {
    .account-content {
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 726px) {
.header-button-wrap {
    margin-bottom: 20px;
    display: flex;
    margin-left: 0 !important;
}
}


@media screen and (max-width: 720px) {
    .app_menu_text {
        display: none;
    }

    .side-bar {
        width: 70px;
    }

    .side-menu {
        padding: 10px 10px;
    }

    .side-menu a {
        padding: 5px 0;
        justify-content: center;
    }

    .nav-item svg {
        width: 30px;
        height: 30px;
        margin-right: 0;
    }

    .account-content {
        padding-left: 120px;
    }

    .app-preloader {
        padding-right: 0;
    }

    .account-header {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
        align-content: center;
    }

    .account-header a {
        margin-left: 0;
    }

    .participation-wrap {
        margin-left: 0;
    }

    .participation-wrapper {
        margin-left: 0;
    }

    #chat_button {
        margin-left: 0 !important;
    }

    .participation-wrap {
        padding-right: 0;
    }

    #participation-index-h1 {
        margin-left: 0 !important;
    }
}


@media screen and (max-width: 700px) {
    .footer-man {
        bottom: 210px;
    }

    .switch-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {

    .side-bar {
        width: 50px;
    }

    .side-menu {
        padding: 5px 5px;
    }

    .side-menu a {
        padding: 2px 0;
    }

    .nav-item svg {
        width: 24px;
        height: 24px;
        margin-right: 0;
    }

    .account-content {
        padding-left: 80px;
        padding-right: 10px;
    }

    .app-preloader {
        padding-right: 0;
    }

    .participation-wrap {
        padding-right: 30px;
    }

    .participation-wrap .container {
        margin: 20px 25px;
    }

    .participation-wrap {
        margin-left: 0;
    }

    .participation-wrapper {
        margin-left: 0;
    }

    #chat_button {
        margin-left: 0 !important;
    }

    .participation-wrap {
        padding-right: 0;
    }

    #participation-index-h1 {
        margin-left: 0 !important;
    }

    .participation-wrap .container .info span p {
        font-size: 19px;
    }

    .part_part, .print_part {
        padding: 0;
    }

    .no-access {
        font-size: 19px;
    }

    .participation-wrap .container h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 420px) {

    .img-wrap {
        display: none;
    }

    .right-wrap h3 {
        margin-top: 0;
    }

    .account-content {
        margin-bottom: 200px;
    }
    .footer-man {
        bottom: 220px;
        width:250px;
    }
}

@media screen and (max-width: 302px) {
    .footer-man {
        bottom: 245px;
    }
}


