.all_chats_block {
    display: flex;
    max-height: 700px;
    margin-bottom: 100px;
}

.chat_to_select_block {
    height: 100%;
    margin-right: 20px;
    max-height: 700px;
    height: 700px;
    overflow-y: auto;
    border-right: 1px var(--grey_border) solid;
}

#messages {
    overflow: auto;
    margin-top: 10px !important;
    height: 560px;
    padding-right: 30px;
}

.chat_to_select {
    margin: 0 0 5px 0;
    align-items: center;
    padding: 5px 20px 5px 20px;
    border-radius: 15px 0 0 15px;

}


.chat_to_select:hover {
    cursor: pointer;
    background: var(--grey_border) !important;
}

.chat_to_select {
    display: flex;
}


.chat_to_select img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 15px;
}

.chat_to_select div {
    display: flex;
    flex-direction: column;
}

.chat_to_select div p {
    font-size: 20px;
}

.chat_to_select div span {
    font-size: 16px;
    color: var(--grey_font);
}

.cur_chat_block {
    max-width: 800px;
    flex: 1;
}

.cur_chat_header_block {
   display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*margin-bottom: 15px;*/
}

.admin_chats_block {
    /*padding-bottom: 10px;*/
    margin-bottom: 10px;
    border-bottom: 1px #8ecec0 solid;
}

.admin_chats_block div:last-child {
    border-bottom: none;
}


.cur_chat_header_block img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}


.cur_chat_header_block h3 {
    font-size: 30px;
    margin-right: 20px;
}


.cur_chat_header_block p {
    color: var(--grey_font);
    /*margin-left: 15px;*/
    font-size: 18px;
}




.last_mes_date {
    margin-left: auto;
    text-align: end;
    font-size: 14px;
    color: var(--grey_font);
}










.filepond--item {
    width: calc(30% - 0.5em);
}

.filepond--file-status-sub {
    font-size: 12px;
}

.filepond--root {
    max-height: 200px;
    margin-top: -76px;
    margin-bottom: 10px;
}

.filepond--drop-label {
    visibility: hidden;
}


.filepond--browser.filepond--browser {
    visibility: hidden;
}

.filepond--list.filepond--list {
    margin-top: 10px;
    /*border-top: 1px #b2b2b2 solid;*/
    border:none !important;
}

.chat p {
    font-family: "Futura PT Light", serif;
    color: #1c1c16;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    display: inline-block;
}


textarea, .editable_div {
    font-family: "Futura PT Light", serif;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px #6dc4b1 solid;
}



.button--loading {
    background: #47AF98;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #47af98;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}


@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.chat {
    width: 90%;
    max-width: 850px;
}

button:focus-visible, button:focus {
    outline: 0 !important;
}

.chat .container {
    margin: 0;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    z-index: 9;
    display: flex;
    padding: 0 !important;
    background: #FFFFFF;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 11%);
    border-radius: 15px;
    transition: all .1s;
}

.tooltip {
    opacity: 1;
    position: relative;
}

.chat .container .message {
    margin-bottom: 15px;
    width: fit-content;
}

.chat .container .messages {
    height: 500px;
    padding: 10px 30px 30px 30px;
    overflow: auto;
    position: relative;
    z-index: 9;
}

.message-wrap {
    padding: 10px 20px;
    color: #fff !important;
    border-radius: 15px;
    overflow-wrap: anywhere;
}

.message-wrap p {
    color: #fff !important;
    font-size: 20px;
    vertical-align: middle;
}

.input-block {
    display: flex;
    width: 100%;
    height:100px;
    max-height:350px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    position: relative;
}

.input-block textarea {
    width: 100%;
    height:100%;
    border-radius: 0 0 0 15px;
    overflow: auto;
    resize: none;
}

.send_message {
    height: 75px;
    background: #fff;
    border: 1px #6dc4b1 solid;
    border-left: none;
    font-family: "Futura PT Book", serif;
    font-size: 18px;
    color: #115747;
    /*position: absolute;*/
    /*right:0;*/
    border-radius: 0 0 15px 0;
}

.send-wrap {
    height: 100%;
}


.send-wrap button {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
    padding-bottom: 5px;
    border: 1px #6dc4b1 solid;
    border-radius: 0 10px 10px 0;
    border-left: none;
    background: none;
}

.send-wrap button button svg {
    fill: #6dc4b1;
    opacity: .7;
    transition: all .3s;
    width: 22px;
}

.send-wrap button svg {
    fill: #6dc4b1;
    width: 22px;
    opacity: 0.7;
    transition: all .1s;
}

.send-wrap button svg:hover {
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
}

.attach_icon {
    width: 13px;
    position: absolute;
    top: 6px;
    transform: rotate(24deg);
    fill: #6dc4b1;
    opacity: 0.7;
    transition: all .1s;
}

.attach_icon:hover {
    opacity: 1;
    transition: all .1s;
    cursor: pointer;
}


.chats_with_admin_header {
    display: flex;
    padding: 10px;
    background: var(--green_white);
    border-radius: 15px 0 0 15px;
    align-items: center;
    /*max-width: 280px;*/
}

.chats_with_admin_header:hover {
    cursor: pointer;
}

.chats_with_admin_header p, .chats_with_admin_header i {
    color: white;
}

.chats_with_admin_header i {
    margin-left: 10px;
}


.chats_with_admin_header img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 20px;
}


.load_mobile_chats {
    display: none;
}

.to_publ_tooltip:hover {
    cursor: pointer;
}





.to_publ_tooltip::after {
    bottom: 100%;
}


.unread_mark {
    width: 10px;
    height: 10px;
    color: #ffffff;
    background: #e16464;
    border-radius: 100%;
    margin-right: 10px;
    display: block;
}




@media screen and (max-width: 820px) {

    .account-header h1 {
        margin-bottom: 10px;
    }

    .cur_chat_block {
        display: none;
    }

    .all_chats_block {
        margin-bottom: 50px;
    }

    #messages {
        height: 40vh;
    }

    .chat_to_select_block {
        margin-right: 0;
        width: 100%;
        border-right: none;
    }

    .account-content {
        padding: 5px 10px 0 310px;
    }

    .chat_to_select {
        border-bottom: 1px var(--grey_border) solid;
        border-radius: 0;
    }

    .chats_with_admin_header {
        border-radius: 5px;
    }

    .send_mes_button .tooltip:after {
        display: none;
    }

    .send-wrap .tooltip:after {
        display: none;
    }


    .account-header a {
        margin-bottom: 15px;
    }


    .account-header {
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0;
    }

    .load_mobile_chats::after {
        width: 70px;
        height: 70px;
        border: 6px solid transparent;
        border-top-color: #47af98;
        opacity: 1;
        visibility: inherit;
    }

}

@media screen and (max-width: 400px) {
    .chat_to_select img {
        display: none;
    }

    .cur_chat_header_block {
        flex-wrap: wrap;
    }

    /*.cur_chat_header_block img {*/
    /*    margin-right: 0;*/
    /*}*/

    /*.cur_chat_header_block p {*/
    /*    margin-left: auto;*/
    /*}*/

    .to_publ_tooltip svg {
        margin: 0;
    }
}



