.bread {
    margin-top: 25px;
    margin-bottom: 40px;
}

.bread a, .bread p {
    display: inline-block;
    border-bottom: 1px #47af98 solid;
}

.bread p:last-child {
    border-bottom: none;
}

.cover {
    max-width: 250px;
}

.collection-block {
    display: flex;
    justify-content: space-between;
}

.col-card .container {
    min-width: 340px;
    max-width: 340px;
    font-size: 20px;
    flex-direction: column;
}

.right-collection-info {
    display: flex;
}

.col-text {
    margin-left: 30px;
    margin-right: 60px;
}

.col-text p {
    margin-top: 20px;
}

.row {
    padding: 15px;
    border-bottom: 1px #E0E0E0 solid;
    font-size: 20px;
}



.row:last-child {
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-card .container span {
    font-family: "Futura PT Light";
}


.col-info-block {
    width: 90%;
    max-width: 1300px;
    margin-top: 50px;
    margin-bottom: 80px;
}


/* Specific to example one */

.col-info-block .container {
    padding: 10px;
    margin: 0 0 20px 0;
    flex-flow: column;
}

.col-info-block .container .nav {
    overflow: hidden;
    margin: 0 0 10px 0;
    position: relative;
}

.col-info-block .container .nav a.last {
    margin-right: 0;
}

.col-info-block .container .nav a {
    font-size: 28px;
    color: #E0E0E0;
    display: block;
    padding: 10px;
    text-align: center;
    border: 0;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    transition: all 0.4s;
}

.col-info-block .container a:hover {
    color: #47AF98 !important;
    transition: all 0.4s;
}

.col-info-block .container a:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    z-index: 999;
    background-color: #6ac5b1;
    border-radius: 2px;
    margin: auto;
    content: "";
    transition: width 0.4s;
}

.nav:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
    border-radius: 2px;
    margin: auto;
    content: "";
    transition: width 0.4s;
}

.current {
    color: #47AF98 !important;
    transition: all 0.4s;
}

.current:after {
    width: 100% !important;

}

/* Generic Utility */
.col-info-block .hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.process {
    width: 90%;
    margin: auto;
}

#own_prev {
    left: -25px !important;
}

#own_next {
    right: -25px !important;
}

.slick-arrow {
    width: 20px !important;
    top: 35% !important;
}

.slick-list:hover {
    cursor: grab;
}

.slick-list:active {
    cursor: grabbing;
}


#calculator {
    display: flex;
}

.calc-inputs p {
    font-size: 23px !important;
}

.calc-inputs {
    border-right: 1px #E0E0E0 solid;
    width: 100%;
}

.calc-outputs {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.price-number {
    font-family: "Futura PT Heavy", serif;
    color: #bdbdbd  !important;
}

.participation-price {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.prices-seperate {
    display: flex;
    line-height: 30px;
    justify-content: center;
    width: 100%;
}

.participation-price-plus {
    margin: 0 40px;
}

.price-total {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.prices-seperate .price-desc {
    font-size: 28px !important;
    color: #bdbdbd  !important;
}

.prices-seperate  .price-number {
    font-size: 45px;
}

.price-total .price-desc {
    font-size: 45px !important;
    color: #47af98ab !important;
}

.price-total  .price-number {
    font-size: 60px;
    color: #47af98ab !important;
}



.calc-row {
    margin: 20px 0 20px 30px;
}

.no-wrap {
    display:flex;
}


.slidecontainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.calc-inputs input, select {
    margin: 0 10px 0 10px;
}

.number-input {
    width: 90px;
    font-size: 20px !important;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    max-width: 500px;
    height: 2px;
    background: #d3d3d3;
    border: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 100%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}


.dates-wrap {
    display: flex;
}
.date-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    padding: 20px 0;
    border-right: 1px #E0E0E0 solid;
    justify-content: center;
    position: relative;
}

.date-block p{
    padding: 0 10px;
}

.date-block:last-child {
    border-right: none;
}

.dates-wrap h4 {
    font-size: 40px;
    margin: 0;
}

.dates-wrap p {
    text-align: center;
}
