
.create-participation-form {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin-bottom: 20px;
}

.create-participation-form .container {
    align-items: stretch;
}

.participation-inputs {
    width: 75%;
    padding: 20px;
}

.participation-inputs-row {
    display: flex;
    /*flex-wrap: wrap;*/
    margin-bottom: 20px;
}

.participation-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px 0;
    position: relative;
}

.own_book .participation-price {
    width: 240px !important;
}

.participation-outputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 10px 30px;
    border-left: 1px #E0E0E0 solid;
    justify-content: center;
}

.participation-outputs h1, .participation-outputs h2, .participation-outputs p {
    margin: 0;
    color: #bdbdbd !important;
}

.participation-outputs h1 {
    font-size: 42px;
    display: contents;
    line-height: 35px;
}

.participation-outputs p {
    font-size: 22px;

}

.participation-price-desc {
    margin-top: 5px;
}
.participation-outputs h2 {
    font-size: 37px;
}


.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 40px;
}

.add-work-block {
    border-radius: 5px;
    border: 1px #6dc4b1 solid;
    width: 100%;
    display: flex;
    position: relative;
}

.add-work-button {
    position: relative;
}

.add-work-button-link {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Futura PT Light", serif;
    color: #6dc4b1;
    font-size: 24px;
    margin: 0;
    opacity: .7;
    transition: ease-in-out .3s;
}

.add-work-button a:hover {
    opacity: 1;
    transition: all .3s;
}

.add-work-button svg {
    width: 40px;
    fill: #6dc4b1;
}


.work-menu {
    position: absolute;
    top: 73%;
    width: 220%;
    right: -65%;
    z-index: 9999;
    padding: 13px;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    border: 1px #6dc4b18c solid;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 310px;
    display: none;
}

.is-active {
    display: block;
}


.work-menu .container p {
    font-size: 18px;

}

.work-menu .container {
    padding: 5px 10px 5px 10px;
    margin: 0 0 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 11%) !important;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all .5s;

}

.work-menu .container:last-child {
    margin: 0;

}

.add_remove_buttons {
    padding: 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.one-work-button {
    margin-left: auto;
    margin-right: 5px;
    position: relative;
}

.work-menu svg {
    width: 16px;
    fill: #47af98;
    position: absolute;
    transition: all .5s;
}

.in {
    opacity: 0;
    transition: all .5s;
}

.check-block {
    margin-right: 20px;
}

.works-to-go {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 15px 20px 15px;
}


.works-to-go .container {
    padding: 2px 20px;
    margin: 20px 20px 0 0;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0 0 0 0.11);
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 220px;
    position: relative;
    transform: scale(1);
}

.works-to-go .container:hover {
    cursor: grab;
}

.works-to-go .container:active {
    cursor: grabbing;
}

.start-anim {
    animation: start-anim ease-in-out .5s;
    animation-fill-mode: forwards;
}

.stop-anim {
    animation: stop-anim ease-in-out .5s;
    animation-fill-mode: forwards;
}


@keyframes stop-anim {

    0% {
        -webkit-font-smoothing: subpixel-antialiased;
        transform: scale(1.08);
    }
    70% {
        -webkit-font-smoothing: subpixel-antialiased;
        transform: scale(1);
    }
    90% {
        -webkit-font-smoothing: subpixel-antialiased;
        transform: scale(1.02);
    }
    100% {
        -webkit-font-smoothing: subpixel-antialiased;
        transform: scale(1);
    }

}

@keyframes start-anim {

    0% {
        -webkit-font-smoothing: subpixel-antialiased;
        transform: scale(1);
    }
    70% {
        -webkit-font-smoothing: subpixel-antialiased;
        transform: scale(1.08);
    }
    90% {
        -webkit-font-smoothing: subpixel-antialiased;
        transform: scale(1.05);
    }
    100% {
        -webkit-font-smoothing: subpixel-antialiased;
        transform: scale(1.08);
    }

}


.to-drop {
    padding: 2px 10px 2px 10px;
    margin: 20px 20px 0 0;
    border-radius: 10px;
    border: 1px #acacac solid;
    opacity: .5;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 30px;
    position: relative;
    transform: scale(1);
}

.remove-work-wrap {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background: #dafbf4;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-work-wrap img {
    width: 10px;
}

.remove-work-wrap a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.works-to-go .container p {
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    list-style-type: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d4d4d4a1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #47af989c;
    border-radius: 10px;
}




.slider-wrap {
    width: 80%;
    max-width: 540px;
    padding-left: 12px;
    padding-bottom: 24px;
}




.ui-widget-content {
    background: #dce0e0;
    height: 2px;
    border-radius: 1px;
    border-color: transparent;
    position: relative;
    top: 14px;
    width: 100%;
}

.ui-slider .ui-slider-range {
    background: #ff5a5f;
    height: 4px;
    position: absolute;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-corner-all .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #47AF98;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 24px;
    margin-left: -12px;
    outline: none;
    position: absolute;
    z-index: 2;
    width: 24px;
    top: -12px;
}

.ui-slider-handle:active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out 0s;
}


.ui-slider-tooltip {
    /*position: absolute;*/
    /*bottom: 30px;*/
    /*left: 25%;*/
    position:absolute;
    left:50%;
    transform:translateX(-50%); /* add your prefixes as required */
    bottom:24px;

    white-space:nowrap;
}


.swal2-title {
    font-weight: 0 !important;
}

.please_add_works p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 20px;
}

.please_add_works a {
    font-size: 17px;
}

.total_price {
    margin-top: 30px;
}
.total_price h1, .total_price p{
    color: #47AF98 !important;

}
.total_price h1 {
    font-size: 48px !important;
}

.total_price p {
    font-size: 24px !important;
}

