@media screen and (max-height: 1650px) {
    .welcome-block {
        height: auto;
    }

    .ex_name {
        font-size: 60px;
    }

}

@media screen and (max-width: 1550px) {

    .ex_name {
        font-size: 3.5vw;
    }

}

/*Размер основных элементов*/
@media screen and (max-width: 1500px) {
    h1 {
        font-size: 5vw;
        line-height: 5vw;
    }

}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 55px;
        line-height: 50px;
    }

    h2 {
        font-size: 55px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 22px;
    }

    .button {
        font-size: 18px !important;
        display: flex;
        width: fit-content;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    h2 {
        font-size: 48px;
        text-align: center;
    }
}

@media screen and (max-width: 415px) {
    h2 {
        font-size: 46px;
    }
}

/*----------------------------------------*/
@media screen and (max-width: 1700px) {
    .woman {
        max-width: 650px;
    }
}

@media screen and (max-width: 1600px) {
    .covers-ex-wrap {
        height: 306px;
        width: 585px;
    }

    .covers-ex-wrap .cover {
        width: 100%;
    }
}


@media screen and (max-width: 1500px) {
    .woman {
        width: 90%;
        margin-right: auto;
    }

    .hero-wrap {
        width: 80%;
    }

    .back-vector-right {
        width: 80%
    }


    .buttons-wrap .button {
        width: auto;
    }
}

@media screen and (max-width: 1350px) {
    .covers-ex-wrap {
        height: 276px;
        width: 526px;
    }

    .project p {
        font-size: 23px;
    }

    .ex_buttons a {
        font-size: 22px !important;
    }

    .project-wrap {
        height: 250px !important;
    }
}



@media screen and (max-width: 1270px) {
    .participation-price-plus {
        margin: 0;
    }

    .ex_buttons a {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 1200px) {

    .ex_buttons a {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 1180px) {
    .example-block {
        flex-direction: column;
    }

    .ex-left, .ex-right {
        width: auto;
        margin: auto;
        padding: 0;
    }

    .ex-right {
        margin-top: 30px;
        width: 90%;
    }

    .ex_name {
        font-size: 45px;
    }

    .project p {
        font-size: 25px;
    }

    .woman-2-circle {
        display: none;
    }

    .project {
        text-align: center;
        position: relative;
        display: none;
        margin-bottom: 40px;
    }

    .project-wrap {
        height: auto;
    }

    .active_text {
        display: inline-block !important;
    }

    .ex_buttons {
        justify-content: center;
    }

    .cover-wrap {
        display: flex;
        align-items: center;
    }

    .cover-wrap img {
        position: inherit;
        left: 0;
        width: 100%;

    }
}

@media screen and (max-width: 1100px) {
    .right-collection-info {
        flex-direction: column;
    }

    .col-card .container {
        margin-left: 30px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 1050px) {

    .dates-wrap {
        flex-wrap: wrap;
    }

    .dates-wrap div:nth-child(2), .dates-wrap div:nth-child(4) {
        border: none;
    }
}

@media screen and (max-width: 1000px) {
    .menu {
        justify-content: center;
        float: inherit;
    }


    .back-vector-left, .back-vector-right {
        display: none;
    }

    .welcome-block {
        flex-direction: column;
        margin-top: 65px;
    }

    .hero-wrap, .hero-woman-wrap {
        width: 100%;
        height: auto;
    }

    .hero {
        padding-top: 50px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .woman {
        width: 450px;
    }


    .how-it-works {
        font-size: 25px;
    }

    .cta-container a {
        font-size: 23px;
    }

    .hero span {
        font-size: 23px;
    }

    /*.navbar {*/
    /*    position: inherit;*/
    /*}*/
    .history {
        margin-left: 0;
        width: 90%;
    }

    .history-block {
        padding-right: 0;
        justify-content: center;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 120px;
    }

    .history-block img {
        display: none;
    }

    .actual-title {
        margin-bottom: 20px;
        text-align: center;
    }

    .actual-title img {
        width: 300px;
    }

    .actual-block {
        margin-top: 100px;
    }

    .actual-block .container {
        margin-top: 100px;
    }

    .label {
        height: auto;
        display: flex;
        width: auto;
        padding: 2px 20px;
        border-radius: 5px;
    }

    .label-wrap {
        top: -27px;
        right: 16px;
    }

    .label:after {
        display: none;
    }

    #calculator {
        flex-direction: column;
    }

    .calc-row {
        margin: 20px 10px;
    }

    .calc-inputs {
        border-right: none;
        border-bottom: 1px #E0E0E0 solid;
        text-align: center;
    }

    .no-wrap {
        justify-content: center;
        flex-wrap: wrap;
    }

    .calc-outputs {
        padding: 20px 10px;
    }

    .prices-seperate {
        flex-wrap: wrap;
    }

    .price-total {
        flex-wrap: wrap;
    }

    .participation-price-plus {
        margin: 0 40px;
    }

}

@media screen and (max-width: 900px) {
    .slick-slide {
        margin: 0 65px !important;
    }

    #own_next {
        right: -25px !important;;
    }

    #own_prev {
        left: -25px !important;;
    }

    .menu-link {
        font-size: 22px;
        margin-left: 25px;
    }

    .account {
        margin-left: 25px;
    }
    /*.own-examples-block .container {*/
    /*    max-width: 240px;*/
    /*}*/
}

@media screen and (max-width: 780px) {
    .slick-slide {
        margin: 0 60px !important;
    }

    .menu-link {
        font-size: 21px;
        margin-left: 20px;
    }

    .account {
        margin-left: 20px;
    }
}


@media screen and (max-width: 720px) {
    .menu-link {
        display: none;
    }

    .menu {
        height: 100%;
        padding: 17px 15px 17px 20px;
        float: right;

    }

    .hamburger-menu {
        display: inherit;
    }

    .navbar {
        height: 55px;
    }
}

@media screen and (max-width: 700px) {
    .hero-wrap, .hero-woman-wrap {
        width: 90%;
        margin: auto;
    }


    .ex-left {
        width: 100%;
    }

    .covers-ex-wrap {
        width: 90%;
    }

    .cover {
        width: 100%;
    }

    .collection-block {
        flex-direction: column;
        align-items: center;
    }

    .col-card .container {
        margin-left: 0;
        margin-top: 20px;
        min-width: inherit;
    }

    .right-collection-info {
        align-items: center;
    }

    .col-text {
        margin: auto;
        text-align: center;
    }

    .collection-block .cover {
        width: inherit;
    }

    .covers-ex-wrap {
        height: 50vw;
    }


    .ex_buttons a {
        font-size: 20px !important;
    }

    .actual-block .container {
        flex-direction: column;
        padding: 20px;
    }

    .cover-wrap {
        width: 100%;
        justify-content: center;
    }

    .cover-wrap img {
        width: auto;
    }

    .history-number {
        font-size: 42px;
    }

    .number-desc {
        font-size: 24px;
    }

    .info-wrap {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .buttons-wrap {
        width: 100%;
        flex-direction: row;
    }

    .buttons-wrap .button {
        margin: 10px 0 0 20px;
    }

    .actual-block p {
        margin: 10px 0 10px 0;
    }

    .own-header {
        flex-direction: column;
    }


    .own-header a {
        margin: auto;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-company-info, .footer-socials, .footer-questions {
        margin: 5px;
    }

    .date-block {
        width: 100%;
    }

    .dates-wrap {
        flex-direction: column;
    }

    .dates-wrap div {
        border: none;
        border-bottom:  1px #E0E0E0 solid !important;
    }

    .dates-wrap div:nth-child(4) {
        border: none !important;
    }

    .date-block .question-mark {
        position: inherit !important;
        margin-top:10px;
    }

    /*.label {*/
    /*    height: 62px;*/
    /*}*/
    /*.label-wrap {*/
    /*    right: 30px;*/
    /*    top: 0;*/
    /*}*/
    /*.label:after {*/
    /*    display: inherit;*/
    /*}*/
}

@media screen and (max-width: 670px) {
    .participation-price-plus {
        margin: 0 20px;
    }
}

@media screen and (max-width: 600px) {
    #own_next {
        right: 0 !important;;
    }

    #own_prev {
        left: 0 !important;
    }

     .col-info-block .container #own_next {
        right: -15px !important;;
    }

    .col-info-block .container #own_prev {
        left: -15px !important;
    }

}


@media screen and (max-width: 550px) {
    .my-collections .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 5px !important;
    }

    .my-collections .right-wrap {
        padding: 0;
    }

    .my-collections h3, .my-collections .info {
        height: inherit !important;
    }

    .my-collections .info a {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 500px) {
    .call-buttons {
        flex-direction: column;
    }

    .how-it-works {
        margin: auto;
        margin-top: 20px;
    }

    .cover-wrap img {
        width: 50vw;
    }

    .ex_buttons a {
        font-size: 18px !important;
    }

    .ex_buttons a {
        margin: auto;
        margin-left: 10px;
    }

    .prices-seperate .price-number {
        font-size: 35px;
    }

    .prices-seperate .price-desc {
        font-size: 24px !important;
    }

    .price-total .price-number {
        font-size: 50px;
    }

    .price-total .price-desc {
        font-size: 35px !important;
    }

}
@media screen and (max-width: 460px) {
    .col-info-block .container .nav {
        display: flex;
        flex-direction: column;
    }

    .woman {
        width: 100%;
    }
}


@media screen and (max-width: 415px) {
    .history-number {
        font-size: 38px;
    }

    .number-desc {
        font-size: 20px;
    }

    .title {
        margin-bottom: 30px;
        font-size: 46px !important;
    }

    .buttons-wrap {
        flex-direction: column;
    }

    .buttons-wrap .button {
        margin: 10px 0 0 0;
    }

    .account {
        display: none;
    }

    .account-mobile {
        display: inherit !important;
    }

    .slick-slide {
        margin: 55px !important;
    }

    .log_reg_wrap .nav {
        flex-direction: column;

    }

    .log_reg_wrap .nav a {
        margin: auto !important;
    }
}


@media screen and (max-width: 380px) {
    .slick-slide {
        margin: 51px !important;
    }

    .swal2-html-container {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        padding: 0 !important;
    }

    .swal2-html-container a {
        margin: 20px 0 0 0 !important;
        width: fit-content !important;
    }

    .login_register_list form a {
        float: inherit !important;
    }
}

@media screen and (max-width: 350px) {
    .slick-slide {
        margin: 40px !important;
    }
}

@media screen and (max-width: 310px) {
    .slick-slide {
        margin: 29px !important;
    }

    .participation-price {
        margin-bottom: 20px;
    }

    .participation-price-plus {
        margin-left: 15px;
    }

    .prices-seperate {
        flex-direction: column;
    }
}
