/*.last_works_block {*/
/*    width: 70%;*/
/*    min-width: 500px;*/
/*    margin-bottom: 30px;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-evenly;*/
/*}*/


:root {
    --social_blue: #66A2E5FF;
}

.button--loading {
    background: var(--social_blue) !important;
}

.button--loading::after {
    border-top-color: var(--social_blue) !important;
}


.menu-link:after {
    background: var(--social_blue);
}

.book-preloader {
    --color: var(--social_blue);
}

::-webkit-scrollbar-thumb {
    background: #85a5c9;
}

::-webkit-scrollbar {
    width: 8px;
}

.button {
    color: var(--social_blue);
    border: 1px var(--social_blue) solid;
}

.button:hover {
    color: white;
    background: var(--social_blue);
    transition: all .3s;
    cursor: pointer;
}

.social_cta_button {
    font-family: "Futura PT Book", serif;
    font-size: 28px;
    padding: 3px 30px 3px 30px;
    color: white;
    background: var(--social_blue);
    border: 1px var(--social_blue) solid;
    /* box-shadow: 0 0 4px rgb(0 0 0 / 14%); */
    border-radius: 7px;
    transition: all .3s;
    position: relative;
}

.social_cta_button:hover {
    color: var(--social_blue);
    background: white;
    transition: all .3s;
}

.social_hero_word_block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}


.social_hero_word_block h2 {
    font-size: 25px;
    color: var(--social_blue);
    margin: 0 20px 0 0;
}

.last_works_block {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-bottom: 150px;
    position: relative;
    margin-top: 100px;
}

.last_works_block__right {
    position: relative;
    /* width: 80%; */
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.last_works_block__right h2 {
    font-size: 45px;
    margin: 0 0 0 30px;
}



.main_work



.other_work {
    margin: 10px 20px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 5px 0px rgb(0 0 0 / 11%);
    flex-direction: column;
    position: relative;
    /*pointer-events: none;*/
    height: 210px;
}

.more_works {
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}


.line-out {
    right: 0;
}

.more_works p {
    font-weight: 100 !important;
    margin-top: 10px;
    color: var(--grey_font);
}

.more_works img {
    width: 55px !important;
    height: initial !important;
    filter: invert(64%) sepia(70%) saturate(15%) hue-rotate(54deg) brightness(88%) contrast(90%);
}

.other_work_info {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 15px;
    /*pointer-events: none;*/
}


.other_work img {
    max-width: 250px;
    pointer-events: none;
    width: 100vw;
    /*height: 100%;*/

}

.other_works_block {
    width: 70%;
    height: 232px;
    height: -webkit-fill-available;
    max-height: 233px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 25%;
    z-index: 9;
}

.other_works_block_in {
    position: absolute;
    display: flex;
    /*pointer-events: none;*/
    transition: none;
    left: 0;
}

.change_ex_buttons {
    width: 80%;
    margin: 0;
}

.change_ex_buttons__inactive {
    opacity: 0.4;
}

.change_ex_buttons__inactive:hover {
    cursor: inherit !important;
}

.change_ex_buttons__inactive img:hover {
    transform: none !important;
}

.other_work p {
    font-size: 23px;
    font-weight: 700;
}

.other_work a {
    font-size: 20px;
    /*color: var(--social_blue)*/
}


.other_work_icon_block {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.other_work_icon_block div:first-child {
    margin-bottom: 10px;
}

.other_work_icon_background {
    padding: 6px 8px;
    background: #d3d3d3f0;
    color: white;
    border-radius: 5px;
    position: relative;
}

.other_work_icon_background i {
    font-size: 16px !important;
}

.other_work_icon_background span {
    position: absolute;
    background: var(--red);
    padding: 1px 5px;
    font-size: 12px;
    top: -10px;
    border-radius: 50px;
    right: -10px;
}


.like_icon {
    color: inherit;
    transition: .1s all ease-in-out;
    font-size: 25px;
    font-weight: 400;
}

.like_icon:hover {
    color: var(--red) !important;
    transition: .1s all ease-in-out;
    cursor: pointer;
}

.like_icon__active {
    color: rgb(255 93 93) !important;
    font-weight: 900 !important;
}


.work_prev_sm_block {
    margin: 10px;
    border: 1px solid var(--grey_border);
    padding: 5px 10px;
    width: 400px;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background: var(--background_white);
    transition: 0.2s all;
}

.work_prev_sm_block:hover {
    border: 1px solid var(--green);
    transition: 0.2s all;
    cursor: pointer;
}


.work_prev_sm_block h2 {
    font-size: 27px;
    margin: 0;
}

.work_prev_sm_block_cl {
    margin-left: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-right: 5px;
    font-family: "Futura PT light", serif;
}

.user_header_block {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto 30px auto;
    justify-content: center;
}


.user_header_block_scroll {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background: white;
    z-index: 9999;
    margin-top: -10px;
}

.user_header_block_scroll h2 {
    margin-left: 50px;
    font-size: 45px;
}


.user_avatar_mobile {
    display: none;
    border-radius: 10px;
}


.user_header_main_block {
    /*width: 100%;*/
    min-width: max-content;
}


.user_header_main_block > div:first-child {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_header_main_block > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 20px 5px 0;
    position: relative;
    flex: 1;

}

#more_user_actions {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

#more_user_actions:hover {
    cursor: pointer;
}


.user_header_main_block h2 {
    font-size: 42px;
    margin: 0;
}

.user_header_buttons {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}


.user_header_buttons a {
    display: flex;
    align-items: center;
    margin-right: 15px;
}


.user_header_buttons img {
    width: 25px;
    margin-right: 7px;
}


.user_header_buttons p {
    font-size: 20px;
    font-family: "Futura PT medium", serif;
    color: #424242;
}


.user_header_stats_block {
    display: flex;
    flex: 1;
    /* margin-left: auto; */
    justify-content: space-evenly;
    /*width:50%;*/
    /*margin-left: auto;*/
}

.user_header_stats_block div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 132px;
}


.user_header_stats_block div img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.user_header_stats_block div h2 {
    color: var(--social_blue);
    font-family: "Futura PT Demi", serif;
    margin: 0;
    font-size: 28px;

}

.user_header_stats_block div p {
    color: #424242;
    font-size: 20px;
    font-family: "Futura PT light", serif;
}

.user_now {
    font-size: 15px;
    padding: 0 10px;
    border-radius: 7px;
    margin-left: 20px;
}

.work_block {
    margin: auto;
}

.work_block > div:nth-child(3) {
    font-size: 22px;
    margin-top: 30px;
}


.work_comments_block {
    margin: 30px auto 30px auto;
}


.work_comments_block > h2:first-child {
    font-size: 35px;
    display: inline;
}

.swal2-styled.swal2-confirm {
    background-color: var(--social_blue) !important;
}

.comment_block {
    border-bottom: 1px solid var(--grey_border);
    max-width: 1000px;

}

.textarea_chat {
    border: 1px var(--social_blue) solid !important;
    border-right: none !important;
}

.send-wrap button {
    border: 1px var(--social_blue) solid !important;
    border-left: none !important;
}

textarea:focus-visible {
    border: 1px var(--social_blue) solid !important;
    border-right: none !important;
}

.send-wrap button svg {
    fill: var(--social_blue) !important;
}

.comment_block > div:first-child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment_block p {
    margin-top: 10px;
    font-size: 20px;
}

.like_block {
    display: flex;
    align-items: center;
}

.like_block span {
    font-size: 20px;
    margin-left: 6px;
}

.user_header_awards_block {
    margin-left: 20px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    min-height: 237px;
    flex: 1;
    margin-top: 30px;
}


.modal_user_more_actions a img {
    width: 30px;
    margin-right: 10px;
}

.modal_user_more_actions a {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: max-content;
}


.user_status_mobile {
    display: none;
}

.ok_shareWidget img {
    width: 23px;
}

.vk_share span {
    display: flex;
}


.user_header_awards_block_header {
    display: flex;
    justify-content: space-between;
}

.user_header_awards_block_header h2 {
    font-size: 35px;
    margin: 0 0 0 30px;
}

.user_header_awards_block_header a {
    margin-right: 30px;
    color: var(--social_blue);
    font-size: 20px;
}

.user_header_awards_block p {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
}

.user_header_awards_block_header_items {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 0 30px;
    flex-wrap: wrap;
}

.award_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
}

.award_block img {
    width: 70px;
}


.write_span p, .donate_span p {
    transition: all 0.1s ease-in-out;
}

.write_span:hover p {
    color: #367ABD !important;
    transition: all 0.1s ease-in-out;
}

.donate_span:hover p {
    color: #E99F58 !important;
    transition: all 0.1s ease-in-out;
}

.user_works_block {
    flex: 1;
    margin-right: 50px;

}

.user_works_header h3 {
    font-size: 48px;
}

.user_work_block {
    flex-direction: column;
    padding: 20px;
    margin: 30px 0;
    max-width: 900px;
}

.user_work_text {
    transition: all 0.3s ease-out;
    max-height: 240px;
    overflow: hidden;
}


.show_full_work {
    text-align: start;
    margin-top: 10px;
    width: fit-content;
}


.user_work_block h3 {
    font-size: 32px;
    margin-bottom: 15px;
}

.user_work_buttons {
    display: flex;
    align-items: center;

}


.user_work_buttons i {
    font-size: 25px;
}

.user_work_buttons span {
    color: var(--black_default);
}


.last_other_works_block {

}


.share_block {
    position: relative;
    margin-left: 20px;
}

.share_block:hover .share_options_block {
    visibility: visible;
    transition: .1s all ease-in-out;
    opacity: 1;
}

.share_options_block:hover {
    visibility: visible;
    transition: .1s all ease-in-out;
    opacity: 1;
}

.share_options_block {
    position: absolute;
    background: white;
    visibility: hidden;
    padding: 6px 12px;
    display: flex;
    opacity: 0;
    border-radius: 10px;
    bottom: -5px;
    left: 25px;
    z-index: 9999;
    transition: .1s all ease-in-out;
    align-items: center;
}


@media screen and (max-width: 1373px) {

    .user_header_left_block {
        flex-direction: column !important;
    }

}


@media screen and (max-width: 1175px) {

    .user_header_block {
        flex-direction: column;
    }

    .user_header_awards_block {
        max-width: 629px;
        margin-left: 0;
    }

}

@media screen and (max-width: 1050px) {

    #mobile_header_scroll_name_buttons {
        display: flex !important;
        margin: 0 0 0 0;
        justify-content: flex-start;
    }

    #user_header_block_scroll .user_avatar {
        width: 70px !important;
        margin-right: 30px;
    }

    #pc_header_scroll_name_buttons {
        display: none;

    }

    .user_header_block_scroll h2 {
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        text-align: start;
    }

    .user_header_block_scroll {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 669px) {

    .last_other_works_block {
        display: none;
    }


    .user_works_block {
        margin: 0;
    }

    .user_header_left_block {
        width: 100%
    }

    .user_header_main_block {
        min-width: auto;
        padding: 10px 20px;
    }

    .user_header_main_block h2 {
        font-size: 37px;
        margin: 0;
        text-align: start;
        /*width: min-content;*/
    }

    .user_header_stats_block {
        flex-wrap: wrap;
    }

    .user_header_stats_block div {
        margin: 20px 5px !important;
    }


    .sub_block span {
        font-size: 18px !important;
    }

    .user_header_buttons {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .user_header_buttons p {
        font-size: 18px !important;
    }

    .user_header_buttons img {
        width: 22px;
    }

    .sub_block {
        width: 125px !important;
    }


    .user_header_main_block > div:first-child {
        display: none;
    }


    .user_avatar_mobile {
        display: block;
        margin-right: 20px;
    }


    .user_header_main_block > div:nth-child(2) {
        padding: 10px 20px;
    }

    .user_status_mobile {
        display: block;
    }

    .user_status_mobile span {
        margin: 0;
        padding: 0;
    }


    .user_status {
        display: none;
    }


}


@media screen and (max-width: 480px) {

    #mobile_header_scroll_name_buttons .send_donate {
        display: none
    }

}


@media screen and (max-height: 700px) {

    .user_header_block_scroll {
        display: none !important;
    }

}

@media screen and (max-width: 400px) {

    .user_header_main_block h2 {
        font-size: 32px !important;

    }

}

@media screen and (max-width: 380px) {

    .user_avatar_mobile, .user_avatar {
        display: none;
    }

}


@media screen and (max-width: 315px) {

    .user_header_stats_block {
        justify-content: center !important;

    }

}












