@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply bg-white font-futura text-black-400 dark:text-white dark:bg-dark_bg;
}


.content {
    @apply max-w-7xl mx-auto w-[90%];
}

h2 {
    @apply text-6xl text-black-400 dark:text-white;
}

h3 {
    @apply text-[42px] text-black-400 font-medium dark:text-white;
}

p {
    @apply text-2xl font-light text-black-400 dark:text-white;
}

.container {
    @apply bg-white rounded-2xl shadow-[0_0_7px_1px_#00000012];
}
