@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-Light.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-LightObl.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-LightObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-BookObl.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-BookObl.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-Demi.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-Demi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-DemiObl.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-DemiObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-MediumObl.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-MediumObl.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fixed/fonts/FuturaPT/FuturaPT-Heavy.woff2') format('woff2'),
    url('/fixed/fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
