@import '../../../../vendor/filament/filament/resources/css/theme.css';
@config '../../../../resources/css/filament/admin/tailwind.config.js';
@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
